<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Episode</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-list>
        <ion-item button detail lines="inset" *ngFor="let episode of episodes | async" (click)="openDetails(episode)">
        {{ episode.title }}
        </ion-item>
    </ion-list>

<!-- https://ionicframework.com/docs/v3/api/components/infinite-scroll/InfiniteScroll/ -->
<!-- <ion-list></ion-list> -->
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
<ion-infinite-scroll-content
loadingSpinner="bubbles"
loadingText="Loading more data...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>


</ion-content>